.cartPage {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 40px;
}

.cartPage h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.cartItemContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 40px;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 150px;
}

.checkout > :first-child {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.3rem;
}

.checkout > :last-child {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .checkout {
    padding: 0;
  }
}
