.homePage {
  height: 100%;
  display: flex;
}

.homePage > div {
  width: 50%;
  text-align: center;
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.homePage h2 {
  font-size: 1.8rem;
}

.homePage p {
  font-size: 1.2rem;
}

.homePage img {
  width: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
  }

  .homePage > div {
    width: 100%;
    padding: 20px;
  }

  .homePage img {
    width: 100%;
    height: 50%;
  }
}
