*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content minmax(500px, 1fr) max-content;
}
